#btn{
    border: none !important; 
}

nav{
    margin-bottom: 10px;
    box-shadow: none;
}

#category{
    overflow: auto;
}

div.specialnews{
    display: flex;
    justify-content: space-between;
}

div.special{
    width: 400px;
}

a.news{
    display: flex;
    justify-content: flex-start;
    border: 5px solid black;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

img.captioned{
    opacity: 0.5;
}

img.captioned:hover{
    opacity: 1.0;
}

img.thumbnails{
    width: 200px;
    height: 200px;
    margin-right: 5px;
}
